<nav class="navbar navbar-dark mb-5" style="background-color: #00538C">
  <a class="navbar-brand" href="#"><img src="assets/img/nbalogo.png" style="height:30px"></a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" id="HomeNav" *ngIf="isLoggedIn$" href="#/home">Home</a>
      <a class="nav-item nav-link" id="ArenasNav" *ngIf="isLoggedIn$" href="#/arenas">Arenas</a>
      <a class="nav-item nav-link" id="TeamsNav" *ngIf="isLoggedIn$" href="#/teams">Teams</a>
      <a class="nav-item nav-link" id="UsersNav" *ngIf="isLoggedIn$" href="#/users">Users</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" id="RegisterNav" *ngIf="!isLoggedIn$" href="#/register">Register</a>
      <a class="nav-item nav-link" id="LoginNav" *ngIf="!isLoggedIn$" href="#/login">Login</a>
	  <button mat-button (click)="onLogout()" id="LogoutNav" *ngIf="isLoggedIn$" [routerLink]="['/login']">Logout</button>
    </div>
  </div>
</nav>