<!-- Default form register -->
    <form [formGroup]="userForm" (ngSubmit)="onFormSubmit(userForm.value)" class="text-center">

      <p class="h4 mb-4">Sign up</p>

      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput id="usernameInput" placeholder="Username" formControlName="username" [errorStateMatcher]="matcher">
        <mat-error>
          <span id="usernameError" *ngIf="!userForm.get('username').valid && userForm.get('username').touched">Please enter a Username</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput id="emailInput" placeholder="Email" formControlName="email" [errorStateMatcher]="matcher">
        <mat-error>
          <span id="emailError" *ngIf="!userForm.get('email').valid && userForm.get('email').touched">Please enter an Email</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput id="passwordInput" type="password" placeholder="Password" formControlName="password" [errorStateMatcher]="matcher">
        <mat-error>
          <span id="passwordError" *ngIf="!userForm.get('password').valid && userForm.get('password').touched">Please enter a Password</span>
        </mat-error>
      </mat-form-field>

      <!-- Sign up button -->
      <div class="button-row">
        <button id="registerSubmitBtn" type="submit" [disabled]="!userForm.valid" mat-raised-button class="btn btn-secondary" style="background-color: #00538C">Register</button>
      </div>

      <hr>

      <!-- Terms of service -->
      <p>By clicking
        <em>Register</em> you agree to our
        <a href="#">terms of service</a>.
      </p>

    </form>
    <!-- Default form register -->
