<div class="button-row">
  <a mat-raised-button class="btn btn-secondary" style="background-color: #00538C" [routerLink]="['/arenas']">Back to Arenas</a>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title id="arenaName"><h2>{{arena.name}}</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Name:</dt>
      <dd>{{arena.name}}</dd>
      <dt>Opened:</dt>
      <dd>{{arena.opened}}</dd>
      <dt>Cost:</dt>
      <dd>{{arena.cost}}</dd>
      <dt>Location:</dt>
      <dd>{{arena.location}}</dd>
      <dt>Address:</dt>
      <dd>{{arena.address}}</dd>
      <dt>Capacity:</dt>
      <dd>{{arena.capacity}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button id="EditArenaButton" class="btn btn-secondary" style="background-color: #00538C" [routerLink]="['/arena-edit', arena._id]"><mat-icon>edit</mat-icon>Modify</a>
    <a mat-raised-button id="DeleteArenaButton" class="btn btn-secondary bg-danger" (click)="deleteArena(arena._id)"><mat-icon>delete</mat-icon>Delete</a>
  </mat-card-actions>
</mat-card>